/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

body { 
 	padding-top: 50px; 
}
.jumbotron {
	margin-top: 30px;
	margin-bottom: 10px;
}
.list-group-item-custom {
	border: 0px;
}


/*ngAnimate classes*/
.animate-if.ng-enter,
.animate-if.ng-leave,
.link-item.ng-move,
.link-item.ng-enter,
.link-item.ng-leave {
	-webkit-transition: all ease-in-out 0.7s;
	transition: all ease-in-out 0.7s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active,
.link-item.ng-move,
.link-item.ng-enter,
.link-item.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0;
}
.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave,
.link-item.ng-move.ng-move-active,
.link-item.ng-enter.ng-enter-active,
.link-item.ng-leave {
	opacity: 1;
	max-height: 40px;
}

